{% extends 'Admin.html' %}
{% import '/macros/Helpers.twig' as Helpers %}

{% block leftMenu %}
    {% include 'parts/leftMenu.twig' with {'activeTab': ''} %}
{% endblock %}

{% block content %}
    <fieldset>
        {{ Helpers.formLegend(item, 'Новость') }}

        <form  class="form-horizontal" action="/admin/news/save/" method="post" enctype="multipart/form-data">

            {{ Helpers.formTitle('article[title]', item.title) }}

            {{ Helpers.formImage('image', item.image) }}

            <input type="hidden" name="article[__id]" value="{{ item.Pk }}">

            {{ Helpers.formEditor('article[text]', item.text) }}

            {# BUTTONS START #}

            {{ Helpers.formBtnSave('news') }}

            {{ Helpers.extraBtns('news') }}

            {# BUTTONS END #}
        </form>
    </fieldset>

{% endblock %}