{% extends 'Admin.html' %}

{% block content %}

    {% set provider = provider.setPageSize(10) %}

    <a class="btn btn-primary pull-right" href="/admin/albums/edit/?id=new">Новый альбом</a>
    <h2>Альбомы</h2>

        {% for item in provider.getPage(page) %}
            {% include 'parts/album.twig' %}
        {% endfor %}

    <div class="pager">
        {{ widget('pager', {'total': provider.total, 'size': provider.pageSize, 'active': page, 'url':'/admin/albums/?page=%d'}) }}
    </div>


{% endblock %}