{% extends 'Admin.html' %}
{% import '/macros/Helpers.twig' as Helpers %}
{% import '/macros/JSBlock.twig' as JS %}

{% block pagehead %}

{% endblock %}

{% block content %}
    <fieldset>
        {{ Helpers.formLegend(item, 'Альбом') }}

        <form  class="form-horizontal" action="/admin/albums/save/" method="post" enctype="multipart/form-data">

            {{ Helpers.formTitle('album[title]', item.title) }}

            <div class="form-group">
                <label for="published" class="col-sm-2 control-label">Дата выпуска</label>
                <div class="col-sm-10">
                    <input id="published" class="form-control" type="text" name="album[published]" value="{{ item.published | date('d.m.Y') }}" required>
                </div>
            </div>

            {{ Helpers.formImage(item.image) }}

            <input type="hidden" name="album[__id]" value="{{ item.Pk }}">

            {{ Helpers.formBtnSave('albums') }}

            {{ Helpers.extraBtns('albums') }}

        </form>
    </fieldset>

    <hr>
    <h3>Композиции</h3>
    {% include 'parts/songs.twig' with {'items': item.songs} %}
    <hr>

    <fieldset>
        <form class="form-horizontal" action="/admin/albums/addSong/" method="post">
            <div class="col-sm-9">
                <select name="song[id]" id="" class="form-control">
                    {% for song in songs %}
                        <option value="{{ song.Pk }}">"{{ song.title }}": {{ song.author.name }} ({{ song.duration | date('H:i:s') }})</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="song[album_id]" value="{{ item.Pk }}">
            <input class="col-sm-3 btn btn-success" type="submit" value="Добавить в альбом">
        </form>
    </fieldset>

{% endblock %}
{% block pagescript %}
    {{ JS.datePicker('#published') }}
{% endblock %}