<nav class="navbar navbar-default navbar-fixed-top navbar-main">
    <div class="container-fluid">

            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <span>Русский рок!</span>
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <div class="collapse navbar-collapse" id="main-menu">
                        <t4:block path="///Menu" url="{{ item.url }}"/>
                    </div>
                </ul>
                <div class="pull-right admin-btns">

                    {% if not app.user %}
                        <a href="/login/"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="/admin/"><i class="fa fa-cog" aria-hidden="true"></i></a>
                        <a href="/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
            </div>

    </div>
</nav>