{% extends 'Admin.html' %}

{% block leftMenu %}
    {% include 'parts/leftMenu.twig' with {'activeTab': 'users'} %}
{% endblock %}

{% block content %}
    {% set provider = provider.setPageSize(10) %}
    <a class="btn btn-primary pull-right" href="/admin/users/edit/?id=new">Добавить пользователя</a>
    <h2>Пользователи</h2>
    <table class="table table-striped">
        <tr>
            <th>Имя</th>
            <th>Почта</th>
            <th>Роль</th>
            <th>Количество статей</th>
            <th>Количество комментариев</th>
            <th>Дата регистрации</th>
            <th></th>
        </tr>
        {% for item in provider.getPage(page) %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.role.title }}</td>
                <td>{{ item.posts | length }}</td>
                <td>{{ item.comments | length }}</td>

                <td>{{ item.registered | date('d.m.Y') }}</td>
                <td width="10%">
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-primary" href="/admin/users/edit/?id={{ item.Pk }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-sm btn-danger" href="/admin/users/delete/?id={{ item.Pk }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>

        {% endfor %}
    </table>

    <div class="pager">
        {{ widget('pager', {'total': provider.total, 'size': provider.pageSize, 'active': page, 'url':'/admin/users/?page=%d'}) }}
    </div>

{% endblock %}