{% extends 'Admin.html' %}
{% import '/macros/Helpers.twig' as Helpers %}

{% block leftMenu %}
    {% include 'parts/leftMenu.twig' with {'activeTab': ''} %}
{% endblock %}

{% block content %}
    <fieldset>
        {{ Helpers.formLegend(item, 'Пост') }}

        <form  class="form-horizontal" action="/admin/posts/save/" method="post" enctype="multipart/form-data">
            {{ Helpers.formTitle('post[title]', item.title) }}

            {{ Helpers.formImage('image', item.image) }}

            {{ Helpers.formText('post[lead]', item.lead, 'Вводное') }}

            {{ Helpers.formEditor('post[text]', item.text) }}

            {{ Helpers.formSelect('post[user]', users, 'Автор') }}

            <input type="hidden" name="post[__id]" value="{{ item.Pk }}">

            {{ Helpers.formBtnSave('posts') }}

            {{ Helpers.extraBtns('posts') }}

        </form>
    </fieldset>

    {% if item.Pk %}
        <hr>

        <h3>Комментарии</h3>
        <table class="table table-striped">
            <tr>
                <th>Комментарий</th>
                <th width="15%">Автор</th>
                <th width="15%">Дата публикации</th>
                <th width="10%"></th>
            </tr>
            {% for item in item.comments %}
                <tr>
                    <td>{{ item.text }}</td>
                    <td>{{ item.user.name }}</td>
                    <td>{{ item.published | date('d.m.Y') }}</td>
                    <td width="10%">
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-primary" href="/admin/comments/edit/?id={{ item.Pk }}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-sm btn-danger" href="/admin/comments/delete/?id={{ item.Pk }}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                </tr>

            {% endfor %}
        </table>
        <hr>

        {{ Helpers.extraBtns('comments') }}

    {% endif %}

{% endblock %}