<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Админка</title>
  {{ publishCss() }}
  {{ publish('/Layouts/assets') }}
  {{ publish('/Layouts/Admin/assets') }}
  <link rel="stylesheet" href="{{ asset('/Layouts/Admin/assets/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ asset('/Layouts/Admin/assets/css/smartadmin-production.css') }}">
  <link rel="stylesheet" href="{{ asset('/Layouts/assets/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ asset('/Layouts/assets/css/jquery-ui.min.css') }}">
  <link rel="stylesheet" href="{{ asset('/Layouts/assets/css/wickedpicker.css') }}">
  <link rel="stylesheet" href="{{ asset('/Layouts/assets/css/styles-admin.css') }}">
  {% block pagehead %}{% endblock %}
</head>
<body>
<div class="container-fluid">HEADER</div>
<div class="container admin">
  <div class="row">
    <div class="col-xs-3">
      <h2>Разделы</h2>
      {% block leftMenu %}{% endblock %}
    </div>
    <div class="col-xs-9">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<div class="divider-40"></div>

<script type="text/javascript" src="{{ asset('/Layouts/assets/js/jquery-1.12.0.min.js') }}"></script>
<script src="{{ asset('/Layouts/assets/js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/Layouts/assets/js/bootstrap.min.js') }}"></script>

{{ publishJs() }}
{% block pagescript %}{% endblock %}
</body>
</html>