{% extends 'Admin.html' %}

{% block leftMenu %}
    {% include 'parts/leftMenu.twig' with {'activeTab': 'songs'} %}
{% endblock %}

{% block content %}

    {% set provider = provider.setPageSize(10) %}

    <a class="btn btn-primary pull-right" href="/admin/songs/edit/?id=new">Новая композиция</a>

    <h2>Композиции</h2>
    {% include 'parts/songs.twig' with {'items': provider.getPage(page)} %}

    <div class="pager">
        {{ widget('pager', {'total': provider.total, 'size': provider.pageSize, 'active': page, 'url':'/admin/songs/?page=%d'}) }}
    </div>


{% endblock %}