{% extends "Index.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <img src="{{ asset('/Layouts/assets/images/403.png') }}" alt="Доступ запрещен, авторизуйтесь!" class="img-responsive">
    </div>
    <div class="col-md-8">
      <h3>Ресурс не найден либо у Вас не достаточно прав</h3>
      <h5>Перейдите на <a href="/">Главную страницу сайта</a> или попробуйте другие ссылки:</h5>
      <nav class="nav nav-pills nav-stacked">
        <li><a href="/news/">Новости</a></li>
        <li><a href="/blog/">Блог</a></li>
      </nav>
    </div>
  </div>
  <div class="divider-40"></div>
{% endblock %}